build
*/build
.gradle
.idea/*
!.idea/copyright
!.idea/copyright/*
!.idea/runConfigurations
!.idea/runConfigurations/*
!.idea/vcs.xml
!.idea/dictionaries
!.idea/dictionaries/*
out
*.iml
.directory
node_modules
local.properties
/captures
.cxx

.DS_Store
.externalNativeBuild
.database

.project
.settings
.classpath
.gradletasknamecache